table {
    border-collapse: collapse;
    width : 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}

.description-column {
    width: 50%; /* Adjust the width as needed */
}

.button-container {
    text-align: center;
}


.button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin: 0 10px; 
}