body{
    background-color: #282828;
    color: #dfdfdf;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a{
    text-decoration: inherit;
    color: #007bff;
}

.button-container {
    text-align: center;
}

.book{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#1d1d1d;
    padding-left: 20px;
}

.cover{
    display: flex;
}

.infos{
    flex: 1 1 auto;
    margin-left: 50px;
}

.book-title{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.authors{
    font-size: 20px;
    margin: 10px 0;
}

.editor-published-collection-categories{
    padding: 0;
}

.publisher{
    display: inline-block;
    content: "|";
}

.publisher::after{
    content: "|";
    padding: 0 5px;
}

.plublished{
    display: inline-block;
}

.plublished::after{
    content: "|";
    padding: 0 5px;
}

.categories{
    display: inline-block;
}

.button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px;  
}

.description p{
    flex: 1 1 auto;
}

.rating{
    flex: none;
    order: 3;
    color:darkgreen;
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px;
    box-sizing: border-box;
}


/* Menu Burger */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s; /* transition on width */
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.sidenav.active {
    width: 250px; /* set width when active */
}