<!--TODO: add buttons for different filtering options, ensure that elipses allow you to expand the description-->
<!DOCTYPE html>
<html>
<head>
    <title>Recommendation Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Book Recommendation Page</h1>
    <h2>Top Reviewed Books</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>authors</th>
                <th>image</th>
                <th>previewLink</th>
                <th>publisher</th>
                <th>publishedDate</th>
                <th>infoLink</th>
                <th>Categories</th>
                <th>ratingsCount</th>

                <!-- Add other table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for index, row in top_books_df.iterrows() %}
            <tr>
                <td>{{ row['Title'] }}</td>
                <td>{{ row['description'][:300] }}{% if row['description']|length > 300 %}...{% endif %}</td>
                <td>{{ row['authors']|default('N/A') }}</td>
                <td><img src="{{ row['image']|default('path_to_default_image') }}" alt="Book Image" width="200" height="300"></td>
                <td>{{ row['previewLink']|default('N/A') }}</td>
                <td>{{ row['publisher']|default('N/A') }}</td>
                <td>{{ row['publishedDate']|default('N/A') }}</td>
                <td>{{ row['infoLink']|default('N/A') }}</td>
                <td>{{ row['categories']|default('N/A') }}</td>
                <td>{{ row['ratingsCount']|default('N/A') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>