<!--TODO: add buttons for different filtering options, ensure that elipses allow you to expand the description-->
<!DOCTYPE html>
<html>

<head>
    <title>Recommendation Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>.description-column {width: 500px;}</style>
</head>

<body>
    <header>
        <div class="brand">
            <a id="main-logo" href=""><img src="/img/main-logo.png" alt="Book Recommendation Logo" width="90" height="90"></a>
            <h1>Book Recommendation</h1>
            <h2>Top Fiction Reviewed Books</h2>
        </div>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" id="closeBtn" class="closebtn">&times;</a>
        <a href="/">Home page</a>
        <a href="/users">Users recommendation book</a>
    </div>
    
    <span id="openBtn" class="openbtn">&#9776;</span>

    <ul class="list-books">
     {% for index, row in top_books_df.iterrows() %}
        <li class="book">
            <div class="cover">
                <img src="{{ row['image']|default('path_to_default_image') }}" alt="Book Image" width="200" height="300">
            </div>
            <div class="infos">
                <h3 class="book-title"><a href="{{ row['previewLink']|default('#') }}" target="_blank">{{ row['Title'] }}</a></h3>
                <h4 class="authors">{{ row['authors']|default('N/A') }}</h4>
                <ul class="editor-published-collection-categories">
                    <li class="publisher"><span>{{ row['publisher']|default('N/A') }}</span></li>
                    <li class="plublished"><span>{{ row['publishedDate']|default('N/A') }}</span></li>
                    <li class="categories"><span>{{ row['categories']|default('N/A') }}</span></li>
                </ul>
                <div class="description">
                    <p>{{ row['description'][:300] }}<span id="dots-{{ index }}">...</span><span id="more-{{ index }}" style="display: none;">{{ row['description'][300:] }}</span></p>
                    <button onclick="toggleDescription('{{ index }}')" id="myBtn-{{ index }}">Read more</button>
                </div>
            </div>
            <div class="rating"><span>Rating <br>{{ row['ratingsCount']|default('N/A') }}</span></div>
            {% endfor %}
        </li>
    </ul>
    <div class="button-container">
        {% if page > 1 %}
        <a class="button" href="?page={{ page - 1 }}">Previous</a>
        {% else %}
        <button class="button disabled" disabled>Previous</button>
        {% endif %}
        {% if not top_books_df.empty %}
        <a class="button" href="?page={{ page + 1 }}">Next</a>
        {% else %}
        <button class="button disabled" disabled>Next</button>
        {% endif %}
    </div>

</body>
</html>

<script src="{{ url_for('static', filename='script.js') }}"></script>