
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<header>
    <div class="brand">
        <img src="{{ url_for('static', filename='main-logo.png') }}" alt="Book Recommendation Logo" width="90" height="90">
        <h1>Book Recommendation</h1>
    </div>
</header>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id="closeBtn" class="closebtn">&times;</a>
    <a href="/">Home page</a>
    <a href="/users">Users recommendation book</a>
</div>

<span id="openBtn" class="openbtn">&#9776;</span>